<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | CrowdFAQ</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="blob blob1"></div>
<div class="blob blob2"></div>

<nav>

    <div class="logo">
        CrowdFAQ
    </div>

    <a href="/" class="admin-link">
        Home
    </a>

</nav>

<div class="dashboard">

    <!-- LEFT SIDE -->

    <div class="dashboard-left">

        <div class="dashboard-card">

            <h2>Add New FAQ</h2>

            <form action="/add_faq" method="POST">

                <input
                    type="text"
                    name="question"
                    placeholder="Enter Question"
                    required>

                <textarea
                    name="answer"
                    placeholder="Enter Answer"
                    required></textarea>

                <button type="submit">
                    Add FAQ
                </button>

            </form>

        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="dashboard-right">

        <div class="dashboard-card">

            <h2>Stored FAQs</h2>

            {% if faqs %}

                {% for faq in faqs %}

                <div class="faq-card">

                    <h3>
                        {{ faq.question }}
                    </h3>

                    <p>
                        {{ faq.answer }}
                    </p>

                    <a href="/delete_faq/{{ loop.index0 }}"
                       class="delete-btn">

                        Delete FAQ

                    </a>

                </div>

                {% endfor %}

            {% else %}

                <p style="color:#cbd5e1;">
                    No FAQs added yet.
                </p>

            {% endif %}

        </div>

    </div>

</div>

</body>
</html>